---
prometheus:
  servicemonitor:
    enabled: true

resources:
  requests:
    cpu: 40m
    memory: 100Mi
  limits:
    cpu: 60m
    memory: 150Mi

webhook:
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      cpu: 100m
      memory: 80Mi

cainjector:
  resources:
    requests:
      cpu: 50m
      memory: 150Mi
    limits:
      cpu: 100m
      memory: 200Mi
